############################################################################
## Configuration file for Coverage module - running application unit tests
##
## Coverage usage:
##      - coverage run -m unittest (run all tests)
##      - coverage run -m unittest tests.test_module.TestClass.test_case
##          (run one test case)
##      - coverage report (show test report, after tests run)
##      - coverage html (generate html report, after tests run)
##
############################################################################

[report]
exclude_lines =
    if __name__ == .__main__.:

[run]
omit =
    *__init__.py
source =
    app/

[paths]
source =
    tests/units/
